<main>
    <section class="editar">
        <div class="box-editar">
            <div class="card-info">
                <h1>Editar</h1>
                <div class="entrada"> 
                    <p>Name</p>
                    <input type="text" name="" id="">
                    <p>CPF</p>
                    <input type="text" name="" id="">
                    <p>Phone</p>
                    <input type="text" name="" id="">
                    <p>Email</p>
                    <input type="text" name="" id="">   
                    <p>Senha</p>
                    <input type="text" name="" id="">
                </div>
                <div class="entrada-btn">                                       
                    <a routerLink="login.html"><span class="entrar">Salvar</span></a>                                  
                </div>                
            </div>
            <!-- <img src="../img/login/editar.png" alt="">             -->
            <img src="../../../assets/img/login/editar.png" alt="" srcset="">
        </div>    
    </section>
</main>