<main>
    <section id="home">
        <div class="home-inicio">
            <div class="text-entrada">
                <p>Finances que</p>
                <h1>Gerenciam</h1>
                <div class="text-entrada2">
                    <h1>Seu</h1>
                    <h1>Futuro</h1>
                </div>
                <div class="ani-bottom">                     
                    <a routerLink="/login"><span>Começar</span></a>
                </div>                    
            </div>                
            <!-- <img class="flut" src="../img/home/m024t0237_j_finance_21sep22 1.png" >\ -->
            <img class="flut" src="../../../assets/img/home/m024t0237_j_finance_21sep22 1.png" alt="" srcset="">
        </div>            
    </section>

    <section id="about">                    
        <h1>A Criadora</h1>                           
        <div class="history">
            <div class="person">
                <!-- <img src="../img/Juh.png" alt="" srcset=""> -->
                <img src="../../../assets/img/Juh.png" alt="" srcset="">
                <p>"Juliane, uma menina apaixonada por números e finanças, 
                    fundou sua própria empresa de finanças e estoque. 
                    Com determinação e conhecimento adquiridos ao longo dos anos, 
                    ela oferecia serviços personalizados aos seus clientes, 
                    buscando não apenas maximizar os lucros, 
                    mas também garantir a estabilidade financeira deles. 
                    <br><br>A empresa de Juliane cresceu e se tornou uma referência no setor, 
                    recebendo reconhecimento pelo seu trabalho exemplar. 
                    <br><br>Hoje, Juliane é uma empresária de sucesso, inspirando outros empreendedores a perseguirem seus sonhos e 
                    alcançarem o sucesso no mundo das finanças e estoque."
                </p>                   
            </div>
            <div class="second-plan"></div>                                  
        </div>
    </section>    
        
    <section id="plans">
        <div class="plans-body">
            <div class="plans-header">
                <!-- <img src="../img/home/5799724 1.png" alt=""> -->
                <img src="../../../assets/img/home/5799724 1.png" alt="" srcset="">
                <h1>Planos</h1>
            </div>
            <div class="plans-cards">
                <div class="card-simple">
                    <h1>Simples</h1>
                    <div class="card-info">
                        <div class="card-lado">
                            <!-- <img src="../img/home/Vector 12-PhotoRoom.png-PhotoRoom.png" alt=""> -->
                            <img src="../../../assets/img/home/Vector 12-PhotoRoom.png-PhotoRoom.png" alt="" srcset="">
                            <p>Exemplo</p>
                        </div>
                        <div class="card-lado">
                            <!-- <img src="../img/home/Vector 12-PhotoRoom.png-PhotoRoom.png" alt=""> -->
                            <img src="../../../assets/img/home/Vector 12-PhotoRoom.png-PhotoRoom.png" alt="" srcset="">
                            <p>Exemplo</p>
                        </div>
                        <div class="card-lado">
                            <!-- <img src="../img/home/Vector 12-PhotoRoom.png-PhotoRoom.png" alt=""> -->
                            <img src="../../../assets/img/home/Vector 12-PhotoRoom.png-PhotoRoom.png" alt="" srcset="">
                            <p>Exemplo</p>
                        </div>
                        <div class="card-lado">
                            <!-- <img src="../img/home/Group 10-PhotoRoom.png-PhotoRoom.png" alt=""> -->
                            <img src="../../../assets/img/home/Group 10-PhotoRoom.png-PhotoRoom.png" alt="" srcset="">
                            <p>Exemplo</p>
                        </div>
                        <div class="card-lado">
                            <!-- <img src="../img/home/Group 10-PhotoRoom.png-PhotoRoom.png" alt=""> -->
                            <img src="../../../assets/img/home/Group 10-PhotoRoom.png-PhotoRoom.png" alt="" srcset="">
                            <p>Exemplo</p>
                        </div>
                        <div class="card-lado">
                            <!-- <img src="../img/home/Group 10-PhotoRoom.png-PhotoRoom.png" alt=""> -->
                            <img src="../../../assets/img/home/Group 10-PhotoRoom.png-PhotoRoom.png" alt="" srcset="">
                            <p>Exemplo</p>
                        </div>
                    </div>
                    <h3>R$ 99,999</h3> 
                    <div class="simple-bottom">                     
                        <a routerLink="/login"><span>Comprar</span></a>
                    </div>                                        
                </div>
                <div class="card-gold">
                    <h1>Gold</h1>
                    <div class="card-info">
                        <div class="card-lado">
                            <!-- <img src="../img/home/Vector 12-PhotoRoom.png-PhotoRoom.png" alt=""> -->
                            <img src="../../../assets/img/home/Vector 12-PhotoRoom.png-PhotoRoom.png" alt="" srcset="">
                            <p>Exemplo</p>
                        </div>
                        <div class="card-lado">
                            <!-- <img src="../img/home/Vector 12-PhotoRoom.png-PhotoRoom.png" alt=""> -->
                            <img src="../../../assets/img/home/Vector 12-PhotoRoom.png-PhotoRoom.png" alt="" srcset="">
                            <p>Exemplo</p>
                        </div>
                        <div class="card-lado">
                            <!-- <img src="../img/home/Vector 12-PhotoRoom.png-PhotoRoom.png" alt=""> -->
                            <img src="../../../assets/img/home/Vector 12-PhotoRoom.png-PhotoRoom.png" alt="" srcset="">
                            <p>Exemplo</p>
                        </div>
                        <div class="card-lado">
                            <!-- <img src="../img/home/Vector 12-PhotoRoom.png-PhotoRoom.png" alt=""> -->
                            <img src="../../../assets/img/home/Vector 12-PhotoRoom.png-PhotoRoom.png" alt="" srcset="">
                            <p>Exemplo</p>
                        </div>
                        <div class="card-lado">
                            <!-- <img src="../img/home/Vector 12-PhotoRoom.png-PhotoRoom.png" alt=""> -->
                            <img src="../../../assets/img/home/Vector 12-PhotoRoom.png-PhotoRoom.png" alt="" srcset="">
                            <p>Exemplo</p>
                        </div>
                        <div class="card-lado">
                            <!-- <img src="../img/home/Vector 12-PhotoRoom.png-PhotoRoom.png" alt=""> -->
                            <img src="../../../assets/img/home/Vector 12-PhotoRoom.png-PhotoRoom.png" alt="" srcset="">
                            <p>Exemplo</p>
                        </div>
                    </div>    
                    <h3>R$ 5.999,999</h3> 
                    <div class="gold-bottom">                     
                        <a routerLink="/login"><span>Comprar</span></a>
                    </div>                
                </div>
                <div class="card-prata">
                    <h1>Prata</h1>
                    <div class="card-info">
                        <div class="card-lado">
                            <!-- <img src="../img/home/Vector 12-PhotoRoom.png-PhotoRoom.png" alt=""> -->
                            <img src="../../../assets/img/home/Vector 12-PhotoRoom.png-PhotoRoom.png" alt="" srcset="">
                            <p>Exemplo</p>
                        </div>
                        <div class="card-lado">
                            <!-- <img src="../img/home/Vector 12-PhotoRoom.png-PhotoRoom.png" alt=""> -->
                            <img src="../../../assets/img/home/Vector 12-PhotoRoom.png-PhotoRoom.png" alt="" srcset="">
                            <p>Exemplo</p>
                        </div>
                        <div class="card-lado">
                            <!-- <img src="../img/home/Vector 12-PhotoRoom.png-PhotoRoom.png" alt=""> -->
                            <img src="../../../assets/img/home/Vector 12-PhotoRoom.png-PhotoRoom.png" alt="" srcset="">
                            <p>Exemplo</p>
                        </div>
                        <div class="card-lado">
                            <!-- <img src="../img/home/Vector 12-PhotoRoom.png-PhotoRoom.png" alt=""> -->
                            <img src="../../../assets/img/home/Vector 12-PhotoRoom.png-PhotoRoom.png" alt="" srcset="">
                            <p>Exemplo</p>
                        </div>
                        <div class="card-lado">
                            <!-- <img src="../img/home/Group 10-PhotoRoom.png-PhotoRoom.png" alt=""> -->
                            <img src="../../../assets/img/home/Group 10-PhotoRoom.png-PhotoRoom.png" alt="" srcset="">
                            <p>Exemplo</p>
                        </div>
                        <div class="card-lado">
                            <!-- <img src="../img/home/Group 10-PhotoRoom.png-PhotoRoom.png" alt=""> -->
                            <img src="../../../assets/img/home/Group 10-PhotoRoom.png-PhotoRoom.png" alt="" srcset="">
                            <p>Exemplo</p>
                        </div>   
                    </div>                     
                    <h3>R$ 999,999</h3>                    
                    <div class="prata-bottom">                     
                        <a routerLink="/login"><span>Comprar</span></a>
                    </div>             
                </div>
            </div>
        </div>            
    </section>
</main>