<main>
    <section class="login">
        <div class="box-login">
            <div class="card-info">
                <h1>Login</h1>
                <div class="entrada">
                    <p>Email</p>
                    <input type="text" name="" id="">
                    <p>Senha</p>
                    <input type="text" name="" id="">
                    <a routerLink="/editar">Esqueçi a senha</a>
                    <div class="lembrar">
                        <input type="checkbox" value="">Lembrar de mim
                    </div>                    
                </div>
                <div class="entrada-btn">                                       
                    <a routerLink="/index"><span class="entrar">Entrar</span></a>
                    <a routerLink="/register"><span class="conta">Criar Conta</span></a>                                     
                </div>                
            </div>
            <!-- <img src="../img/login/login.png" alt="">             -->
            <img src="../../../assets/img/login/login.png" alt="" srcset="">
        </div>    
    </section>
</main>